<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="sidebar" th:fragment="header">
  <div class="sidebar-header">
    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#"> <i class="fas fa-home fa-fw me-2"></i> <span class="nav-text">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> <i class="fas fa-box-open fa-fw me-2"></i> <span class="nav-text">Apparatus</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/finalProduct/all}"> <i class="fas fa-tools fa-fw me-2"></i> <span class="nav-text">Aletler</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/midProduct/all}"> <i class="fas fa-tools fa-fw me-2"></i> <span class="nav-text">Birlesik Malzemeler</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/firstProduct/all}"> <i class="fas fa-tools fa-fw me-2"></i> <span class="nav-text">Ilk Malzemeler</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> <i class="fas fa-chart-line fa-fw me-2"></i> <span class="nav-text">Overview</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> <i class="fas fa-dolly-flatbed fa-fw me-2"></i><span class="nav-text">Orders</span>
      </a>
    </li>
  </ul>
</div>

</body>
</html>